<% include ../partials/header %>

<%= book[0] %>

<form action="/books/<%= book[0].item.id %>/comments" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="comment[text]" placeholder="Comment">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% include ../partials/footer %>