<% include partials/header %>

<div class="wrap">
    <div class="jumbotron jumbotron-landing">
        <h1>Bookapp</h1>
        <p class="lead">Review your favorite books!</p>
        <a href="/books" class="btn btn-primary btn-lg">Take me there!</a>
    </div>
</div>

<% include partials/footer %>